//
// Themes / Adminflare / Main menu
// --------------------------------------------------


// Background and borders
//
.menu-shadow.horizontal ul {
  background: #2b2b2b url("@{images-path}/themes/adminflare/menu-bg.png");
}

.menu-shadow.horizontal ul.navigation {
  border-top: 0px solid #313131;
  border-bottom: 0px solid #1f1f1f;
}