/*******************************************************************************
 GOOGLE LOADER SMALL
*******************************************************************************/

.google-small {
  width: 100%;
  height: 100%;

  .loaderBg {
    .background-loader;
  }

  .loader,
  .loader:before,
  .loader:after {
    border-radius: 50%;
  }
  .loader {
    color: rgba(37, 126, 193, 0.8);
    font-size: 2px;
    text-indent: -99999em;
    margin: -5em auto;
    position: relative;
    width: 10em;
    height: 10em;
    top: 50%;
    box-shadow: inset 0 0 0 1em;
    transform: translateZ(0);
  }
  .loader:before,
  .loader:after {
    position: absolute;
    content: '';
  }
  .loader:before {
    width: 5.2em;
    height: 10.2em;
    background: white;
    border-radius: 10.2em 0 0 10.2em;
    top: -0.1em;
    left: -0.1em;
    transform-origin: 5.2em 5.1em;
    animation: load2 2s infinite ease 1.5s;
  }
  .loader:after {
    width: 5.2em;
    height: 10.2em;
    background: white;
    border-radius: 0 10.2em 10.2em 0;
    top: -0.1em;
    left: 5.1em;
    transform-origin: 0px 5.1em;
    animation: load2 2s infinite ease;
  }
  @keyframes load2 {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}