/*******************************************************************************
 LOADER DIRECTIVE
*******************************************************************************/

awe-loader {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;

  &.grid-loader,
  &.treegrid-loader,
  &.chart-loader {
    display: flex;
    &.ng-animate {
      display: flex !important;
    }
  }

  &.loader {
    display: block;
    &.ng-animate {
      display: block !important;
    }
  }

  // Show/hide animations
  &.ng-enter,
  &.ng-leave {
    .transition(opacity, ease-in-out, 150ms);
  }
  &.ng-enter,
  &.ng-leave.ng-leave-active {
    .opacity(0);
  }

  &.ng-leave,
  &.ng-enter.ng-enter-active {
    .opacity(1);
  }

  .background-loader {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);
  }

  // Loaders
  @import "./carpet.less";
  @import "./circlebar.less";
  @import "./circles.less";
  @import "./cubes.less";
  @import "./dots.less";
  @import "./folding.less";
  @import "./square.less";
  @import "./squarebar.less";
  @import "./spinner.less";
  @import "./newSpinner.less";
  @import "./newSpinnerSmall.less";
  @import "./google.less";
  @import "./googleSmall.less";
}