/*******************************************************************************
 NEW SPINNER LOADER
*******************************************************************************/

.new-spinner-small {
  width: 100%;
  height: 100%;

  .loaderBg {
    .background-loader;
  }

  .loader,
  .loader:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
  }
  .loader {
    margin: -5em auto;
    top: 50%;
    font-size: 1.5px;
    position: relative;
    text-indent: -9999em;
    border-top: 1.1em solid rgba(37, 126, 193, 0.8);
    border-right: 1.1em solid rgba(37, 126, 193, 0.8);
    border-bottom: 1.1em solid rgba(37, 126, 193, 0.8);
    border-left: 1.1em solid rgba(37, 126, 193, 0.2);
    transform: translateZ(0);
    animation: load8 1.1s infinite linear;
  }
  @keyframes load8 {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}