// Inherit flex attributes from the parent
awe-grid {
  .expandible-inherit;
  [row-id].editing {
    .edition {
      display: inherit
    }
    .visible-value {
      display: none;
    }
  }
  .edition {
    display: none;
  }
}

