// Styles for awe-info-dropdown component
awe-info-button {
  > li {
    > a {
      position: relative;
      display: block;
      padding: 10px 15px;
    }
  }

  @media (min-width: 768px) {
    > li {
      float: left;
      border: none;
      position: relative;
      display: block;

      &.nav-icon-btn {
        font-size: 13px;
        > a {
          text-align: center;
          width: auto;
        }
      }

      > a {
        -webkit-transition: all .2s;
        -o-transition: all .2s;
        transition: all .2s;
        height: 46px;
        line-height: 46px;
        padding-top: 0;
        padding-bottom: 0;
      }
    }
  }
}