// Styles for awe-menu component

// Small menu
.size-sm {
  awe-menu {
    ul.navigation a {
      font-size: @font-size-small;
    }
  }
}

// Large menu
.size-lg {
  awe-menu {
    ul.navigation a {
      font-size: @font-size-large;
    }
  }
}

// Variables
@main-menu-height: 30px;

// Styles
#main-wrapper.horizontal {
  padding-left: 0px !important;
}

#main-navbar.horizontal #main-menu-toggle {
  .navbar-icon {
    left: 22px;
    top: 26px;
  }

  .navbar-icon:after {
    content: "\f0d8";
    top: -9px;
    right: 3px;
  }
}

.mmc {
  #main-navbar.horizontal #main-menu-toggle {
    .navbar-icon {
      top: 20px;
    }

    .navbar-icon:after {
      content: "\f0dd";
      top: 7px;
    }
  }
}

.mmc {
  awe-menu {
    ul.navigation.vertical {
      overflow: visible;
      z-index: @zindex-main-menu + 10;
      .mm-dropdown-first {
        & {
          display: none;
        }

        &.mmc-dropdown-open-ul-add {
          .transition(left, ease, 250ms);
          .transition(opacity, ease, 250ms);
          position: absolute !important;
          display: block !important;
          top: 0px;
        }

        &,
        &.mmc-dropdown-open-ul-remove.mmc-dropdown-open-ul-remove-active {
          left: 0%;
          .opacity(0);
          position: absolute !important;
          display: none !important;
        }

        &.mmc-dropdown-open-ul,
        &.mmc-dropdown-open-ul-add.mmc-dropdown-open-ul-add-active {
          left: 100%;
          .opacity(1);
          display: block !important;
        }
      }
    }
  }
}

// Menus styles
awe-menu {
  overflow: visible !important;
  .no-transition;

  // Menu shadow
  .menu-shadow {
    -webkit-box-shadow: 0 2px 2px rgba(0,0,0,.05),0 1px 0 rgba(0,0,0,.05);
    -moz-box-shadow: 0 2px 2px rgba(0,0,0,.05),0 1px 0 rgba(0,0,0,.05);
    -o-box-shadow: 0 2px 2px rgba(0,0,0,.05),0 1px 0 rgba(0,0,0,.05);
    box-shadow: 0 2px 2px rgba(0,0,0,.05),0 1px 0 rgba(0,0,0,.05);
  }

  ul.navigation a {
    white-space: nowrap;
    cursor: pointer;
  }


  // Horizontal menu
  .menu-shadow.horizontal {
    width: auto;
    position: relative;
    overflow: hidden;
    left: 0;
    height: auto;
  }

  ul.navigation.horizontal {
    & {
      padding: 0px;
      min-height: @main-menu-height;
      margin: 0px;
    }

    &.ng-hide-add,
    &.ng-hide-remove {
      .transition-multiple (height, ease, 250ms, opacity, ease, 250ms);
      display:block !important;
      overflow: hidden !important;
    }

    &.ng-hide-add.ng-hide-add-active,
    &.ng-hide-remove {
      height: 0;
      .opacity(0);
    }

    &.ng-hide-add,
    &.ng-hide-remove.ng-hide-remove-active {
      min-height: @main-menu-height;
      .opacity(1);
    }

    > awe-option > li {
      width: auto !important;
      display: inline-block;
      position: relative;
      border-top: 0;
      border-bottom: 0;

      &.divider {
        width: 0 !important;
        height: 20px;
        border-left-width: 1px;
        border-left-style: solid;
        .opacity(0.4);
        margin: 0px 2px 2px 2px;
        vertical-align: middle;
      }

      > a {
        display: inline-block;
        border-bottom: 0;
        padding: 5px 14px 5px 10px;
      }

      > a:after {
        top: auto;
        bottom: 0;
        height: 4px;
        right: 0;
        left: 0;
        width: 100%;
      }

      > ul {
        width: auto;
        position: fixed;
        z-index: 1900;
        max-height: 100%;
        overflow-y: auto;
        padding-top: 76px;
        top: 0;
        left: auto;
        clip: rect(76px,5000px,5000px,0px);
      }
    }

    > awe-option > li.mm-dropdown.open > a {
      border-bottom: 0;
    }

    a {
      line-height: 18px;

      span{
        white-space: nowrap;
      }
    }

    > awe-option > li.mm-dropdown {
      > a:before {
        display: none;
      }
    }

    .mm-dropdown-first {
      &.opened-add,
      &.opened-remove {
        .transition-multiple(opacity, ease, 0.25s, margin-left, ease, 0.25s);
        display:block !important;
        overflow: hidden !important;
      }

      &.opened-add.opened-add-active,
      &.opened-remove {
        margin-left: 0px;
        left: auto;
        .opacity(1);
      }

      &.opened-add,
      &.opened-remove.opened-remove-active {
        margin-left: -50px;
        .opacity(0);
        left: auto;
      }
    }

    .mm-dropdown-target {
      &.ng-hide-add,
      &.ng-hide-remove {
        .transition(all, ease-in-out, 0.5s);
        display:block !important;
        overflow: hidden !important;
        position: relative !important;
      }

      &.ng-hide-add.ng-hide-add-active,
      &.ng-hide-remove {
        max-height: 0px;
        left: -20px;
        .opacity(0);
      }

      &.ng-hide-add,
      &.ng-hide-remove.ng-hide-remove-active {
        max-height: 100vh;
        left: 0px;
        .opacity(1);
      }
    }

    .mm-dropdown > ul {
      > awe-option > li > a {
        padding-left: 20px;
      }
      > .mm-dropdown>ul {
        > awe-option > li > a {
          padding-left: 40px;
        }
        > .mm-dropdown > ul {
          > awe-option > li > a {
            padding-left: 60px;
          }
          > .mm-dropdown > ul > awe-option > li > a {
            padding-left: 80px;
          }
        }
      }
    }
  }

  // Vertical menu
  ul.navigation.vertical {
    li {
      display: block;
      width: auto;

      &.divider {
        height: 0;
        border-top-width: 1px;
        border-top-style: solid;
        margin: 2px 10px 2px 10px;
        .opacity(0.4);
      }
    }

    .mm-dropdown-first,
    .mm-dropdown-target {
      &.ng-hide-add,
      &.ng-hide-remove {
        .transition(all, ease, 500ms);
        display:block !important;
        overflow: hidden !important;
        position: relative !important;
      }

      &.ng-hide-add.ng-hide-add-active,
      &.ng-hide-remove {
        max-height: 0px;
        left: -20px;
        .opacity(0);
      }

      &.ng-hide-add,
      &.ng-hide-remove.ng-hide-remove-active {
        max-height: 100vh;
        left: 0px;
        .opacity(1);
      }
    }

    .mm-dropdown-first {
      &.opened-add,
      &.opened-remove {
        .transition(all, ease, 500ms);
        display:block !important;
        overflow: hidden !important;
        position: relative !important;
      }

      &.opened-add.opened-add-active,
      &.opened-remove {
        max-height: 100vh;
        left: 0px;
        .opacity(1);
      }

      &.opened-add,
      &.opened-remove.opened-remove-active {
        max-height: 0px;
        left: -20px;
        .opacity(0);
      }
    }
  }
}

/******************************************************************************
  MEDIA QUERIES FOR RESPONSIVE DESIGN - HORIZONTAL
*******************************************************************************/

// Phone and tablet
@media (max-width: @screen-tablet) {
  awe-menu {
    .menu-shadow.horizontal {
      width: auto;
      height: auto !important;
      left: 0px;
      position: relative;
      overflow: visible;
    }

    ul.navigation {
      > awe-option > li {
        &.mm-dropdown.open > ul {
          display: block;
        }

        > a {
          & {
            padding: 5px 10px;
          }

          >.mm-text {
            display: none;
          }
          >.menu-icon {
            margin: 0;
          }
        }
      }
    }
  }
}

// Computers
@media (min-width: @screen-tablet) {
  awe-menu .navigation.horizontal > awe-option > li > a >.mm-text {
    display: inline-block;
  }
}

/******************************************************************************
  MEDIA QUERIES FOR RESPONSIVE DESIGN - VERTICAL
*******************************************************************************/

@media (max-width: @screen-small) {
  awe-menu {
    .menu-shadow.vertical {
      width: 80%;
    }

    ul.navigation.vertical {
      width: auto !important;
      height: 100%;
      overflow-y: auto;
    }
  }
}

@media (min-width: @screen-small) {
  awe-menu .menu-shadow.vertical {
    width: auto;
  }

  awe-menu,
  .mme awe-menu {
    ul.navigation.vertical {
      width: @main-menu-width;
      height: 100%;
      overflow-y: auto;

      &.menu-minimized-add,
      &.menu-minimized-remove {
        .transition(width, ease, 250ms);
        overflow: hidden !important;
        display: block !important;
      }

      &.menu-minimized,
      &.menu-minimized-add.minimized-add-active {
        width: @main-menu-collapsed-width;
      }

      &,
      &.menu-minimized-remove.minimized-remove-active {
        width: @main-menu-width;
      }

      li {
        display: block;
        width: auto;
      }
    }
  }
}

//
// Import specific menu settings
// --------------------------------------------------

@import "./menu-vertical.less";
@import "./menu-horizontal.less";