<div class="no-animate ui-grid-cell-contents ui-grid-checkbox text-center" column-id="{{col.name}}">
  <label class="checkbox">
    <input type="checkbox" class="px form-control" ng-checked="row.isSelected"/>
    <span class="lbl"></span>
  </label>
</div>