<div class="ui-grid-tree-base-row-header-buttons">
  <i ng-if="::grid.appScope.controller.loadAll" class="fa {{grid.appScope.component.treeHeaderIcon}}" ng-click="grid.appScope.$ctrl.onTreeHeaderButtonClick(grid, $event)"></i>  &nbsp;
</div>