<div role="columnheader" class="no-animate ui-grid-header-checkbox text-center">
  <label class="no-animate checkbox">
    <input type="checkbox" class="no-animate px form-control" ng-model="grid.selection.selectAll" ng-change="grid.appScope.$ctrl.onSelectAllClick($event)"/>
    <span class="no-animate lbl"></span>
  </label>
</div>