<div role="rowgroup" class="ui-grid-viewport" ng-style="colContainer.getViewportStyle()" ng-click="grid.appScope.$ctrl.onViewportClick($event)" ng-right-click="grid.appScope.$ctrl.viewportContextMenu($event)">
  <!-- tbody -->
  <div class="ui-grid-canvas">
    <!--  -->
    <div ng-repeat="(rowRenderIndex, row) in rowContainer.renderedRows track by row.uid" class="no-animate ui-grid-row {{row.entity[grid.appScope.$ctrl.constants.ROW_CLASS_FIELD]}}"
         ng-style="Viewport.rowStyle(rowRenderIndex)" ng-right-click="grid.appScope.$ctrl.onRowContextMenu($event, row)" ng-mouseenter="grid.hover = row.uid" ng-mouseleave="grid.hover = null"
         ng-class="{'ui-grid-row-hover': grid.hover === row.uid }" ng-attr-id="{{row.entity[grid.appScope.$ctrl.constants.ROW_IDENTIFIER]}}">
      <div role="row" class="no-animate" ng-class="{'editing': row.isSelected && grid.appScope.$ctrl.editing}" ui-grid-row="row" row-render-index="rowRenderIndex" ng-attr-row-id="{{row.entity[grid.appScope.$ctrl.constants.ROW_IDENTIFIER]}}"></div>
    </div>
  </div>
</div>