//
// Variables
// --------------------------------------------------

// Paths
//
@fonts-path:  "fonts";
@images-path: "images";

@content-wrapper-padding: 18px;

// Main navbar height
@main-navbar-height: 46px;
@main-navbar-right-padding: 16px;


// Screen sizes
//

// Main menu width
@main-menu-width: 240px;

// Collapsed main menu width
@main-menu-collapsed-width: 56px;

// Main menu item height
@main-menu-item-height: 42px;
@main-menu-subitem-height: 36px;

// Panel content padding
@panel-content-padding: 20px;

// Screen sizes
//

@screen-desktop: @screen-md;
@screen-tablet:  @screen-sm;
@screen-small:   @screen-xs;


// Z-Indexes
//

@zindex-main-menu:             500;
@zindex-datepicker:            400;
@zindex-datepaginator:         400;
@zindex-growls:                5000;
@zindex-summernote-fullscreen: 1050; // bs3 modal-backdrop: 1030

@zindex-datepicker-modal:      1040;
@zindex-datepaginator-modal:   1040;


// Labels
//

@label-tag-height: 20px;
@label-tag-horizontal-padding: 5px;
@label-tag-arrow-width: 12px;
@label-tag-circle-size: 6px;

// Grid gutter
//

@grid-gutter-width: 22px;

// Popovers
//

@popover-border-width: 3px;
@popover-border-color: rgba(0, 0, 0, .2);


// Colors
//

@tabs-border-color: @table-border-color;
@pagination-border-color: @table-border-color;
@list-groups-border-color: @table-border-color;
@accordion-border-color: @table-border-color;
@panels-border-color: @table-border-color;

@tooltip-bg: #222;

@panel-heading-bg: #fafafa;

@info-color: #5bc0de;
@success-color: #5ebd5e;
@warning-color: #f4b04f;
@danger-color: #e66454;


// Wizard
@wizard-step-number-size: 26px;
@wizard-step-number-border-width: 2px;
@wizard-step-number-margin: 10px;


// Bootstrap datepicker
@bootstrap-datepicker-col-width: 30px;


// Alt messages widget
@widget-messages-alt-hpadding: 12px;
@widget-messages-alt-img-width: 32px;

// Sign in page
@signin-form-group-w-icon-width: 40px;
