/*
 * treeGrid.css
 *
 * Styles for the tree-grid
 * for both Bootstrap 2 and Bootstrap 3
 *
 */
.tree-grid-animate-enter,
.tree-grid-row.ng-enter {
  .transition(200ms linear all);
  position   : relative;
  display    : block;
  .opacity(0);
  max-height : 0;
}

.tree-grid-animate-enter.tree-grid-animate-enter-active,
.tree-grid-row.ng-enter-active {
  .opacity(1);
  max-height : 30px;
}

.tree-grid-animate-leave,
.tree-grid-row.ng-leave {
  .transition(200ms linear all);
  position   : relative;
  display    : block;
  height     : 30px;
  max-height : 30px;
  overflow: hidden;
  .opacity(1);
}

.tree-grid-animate-leave.tree-grid-animate-leave-active,
.tree-grid-row.ng-leave-active {
  height     : 0;
  max-height : 0;
  .opacity(0);
}

/*
 * Angular 1.2.0 Animation placeholders.
 */
.tree-grid-animate.ng-enter {
}

.tree-grid .level-1 .indented {
  margin-left : 0px;
}

.tree-grid .level-2 .indented {
  margin-left : 20px;
}

.tree-grid .level-3 .indented {
  margin-left : 40px;
}

.tree-grid .level-4 .indented {
  margin-left : 60px;
}

.tree-grid .level-5 .indented {
  margin-left : 80px;
}

.tree-grid .level-6 .indented {
  margin-left : 100px;
}

.tree-grid .level-7 .indented {
  margin-left : 120px;
}

.tree-grid .level-8 .indented {
  margin-left : 140px;
}

.tree-grid .level-9 .indented {
  margin-left : 160px;
}

.tree-grid .tree-icon,
.tree-label {
  cursor : pointer;
}