<!doctype html>
<!--[if IE 9 ]><html xmlns:th="http://www.thymeleaf.org" class="ie gt-ie8 gt-ie9 pxajs" lang="{{$app.settings.language}}" ng-strict-di ng-app="aweApplication" ng-controller="AppController as $app"><![endif]-->
<!--[if !IE]><!--><html xmlns:th="http://www.thymeleaf.org" class="{{::$app.isIE()}} gt-ie8 gt-ie9 pxajs" lang="{{$app.settings.language}}" ng-strict-di ng-app="aweApplication" ng-controller="AppController as $app"><!--<![endif]-->
  <head>
    <base th:href="@{/awe-client-angular-redux/src/main/resources/less}"/>
    <link rel="stylesheet" th:href="@{/css/splash.css}"/>
    <title translate-multiple="{{$app.screen.title + ' | APP_NAME'}}">Loading...</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="X-UA-Compatible" content="chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <meta name="HandheldFriendly" content="true"/>
    <meta name="mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <link rel="stylesheet" th:href="@{/css/specific.css}"/>
    <link rel="shortcut icon" th:href="${faviconIcon}"/>
    <link rel="apple-touch-icon" th:href="${tabletIcon}"/>
  </head>
  <body class="theme-{{$app.settings.theme}} page-{{$app.screen.name}} size-{{$app.settings.defaultComponentSize}}" ng-controller="ScreenController as $screen" ng-keydown="$app.onKeydown($event)">
    <h1 class="hidden" ng-cloak></h1>
    <p class="hidden" ng-cloak></p>
    <div class="alert-zone" ng-controller="MessageController as $message" ng-cloak>
      <div uib-alert class="alert alert-dark alert-awe alert-{{::alert.type}}" ng-animate="alert" ng-repeat="alert in $message.alerts" close="$message.closeAlert($index)"><strong translate-multiple="{{::alert.title}}" ng-cloak></strong>&nbsp;&nbsp;<span class="description" translate-multiple="{{::alert.msg}}" ng-cloak></span></div>
      <awe-confirm ng-cloak></awe-confirm>
      <awe-help ng-cloak></awe-help>
    </div>
    <form action="javascript://" method="post" autocomplete="off" class="fullScreen" role="form" name="aweForm" novalidate="novalidate" ng-controller="FormController as $form" ng-cloak>
      <div ui-view="base" class="fullScreen maximize-target" ng-cloak></div>
      <div class="error-container has-error dark {{$form.validationStyle}}" ng-click="$form.showValidation = false" ng-show="$form.showValidation" ng-cloak>
        <div class="jquery-validate-error help-block">{{$form.validationMessage}}</div>
      </div>
    </form>
    <div class="actions-zone" ng-cloak>
      <div class="async-zone" ng-cloak>
        <div ng-if="$screen.showActions()" class="action-stack-list" ng-cloak>
          <div class="action async" ng-repeat="action in $app.actions.async" ng-class="{'running': $screen.isRunning(action), 'silent': action.silent}" ng-click="$screen.showInfo(action)" ng-cloak>{{::action.type}} {{::action.target}}</div>
        </div>
      </div>
      <div class="sync-zone" ng-cloak>
        <div ng-if="$screen.showActions()" class="action-stack-list" ng-cloak>
          <div ng-repeat="stack in $app.actions.sync | reverse" class="action-stack" ng-cloak>
            <div class="action" ng-repeat="action in stack" ng-class="{'running': $screen.isRunning(action), 'silent': action.silent}" ng-click="$screen.showInfo(action)" ng-cloak>{{::action.type}} {{::action.target}}</div>
          </div>
        </div>
      </div>
    </div>
    <div id="splash">
      <div id="splashBackground"></div>
      <div class="spinner"><div class="dot1"></div><div class="dot2"></div></div>
    </div>
    <script type="application/javascript" th:src="@{/js/commons.js}"></script>
    <script type="application/javascript" th:src="@{/js/bundle.js}"></script>
    <script type="application/javascript" th:src="@{/js/specific.js}"></script>
  </body>
</html>