<li ng-show="controller.visible || controller.separator" class="context-option {{controller.opened ? 'open' : ''}}" ng-class="::{'divider': controller.separator, 'dropdown-submenu': controller.hasChildren}" ng-cloak>
  <a ng-if="::!controller.separator" ng-disabled="isDisabled()" title="{{controller.label| translateMultiple}}" name="{{::controller.id}}" class="{{::controller.style}}"
     ng-click="onClick()">
    <i ng-if="::controller.icon" class="nav-icon fa fa-{{::controller.icon}} fa-fw"></i>
    <span ng-if="::controller.label" class="context-option-text" translate-multiple="{{::controller.label}}"></span>
  </a>
  <ul ng-if="::!controller.separator && controller.hasChildren" class="context-submenu dropdown-menu" ng-show="controller.opened">
    <awe-context-option ng-repeat="option in controller.contextMenu track by option.id" option-id="{{::option.id}}" option="option"></awe-context-option>
  </ul>
</li>