<li ng-show="$ctrl.attributes.visible" ng-attr-id="{{::$ctrl.id}}" title="{{$ctrl.attributes.title| translateMultiple}}" class="info nav-icon-btn {{::$ctrl.attributes.infoStyle}}" ng-cloak>
  <a class="info-button info-button-{{::$ctrl.size}} {{::$ctrl.attributes.style}}" ng-click="$ctrl.onClick($event)">
    <i ng-if="::$ctrl.attributes.icon" class="nav-icon fa fa-{{::$ctrl.attributes.icon}} fa-fw" ng-class="::{'w-text': $ctrl.attributes.text}"></i>
    <span ng-if="$ctrl.attributes.unit" class="label" translate-multiple="{{$ctrl.attributes.unit}}"></span>
    <span ng-if="$ctrl.attributes.text" class="info-text" translate-multiple="{{$ctrl.attributes.text}}"></span>
    <span ng-if="$ctrl.attributes.label" class="info-text" translate-multiple="{{$ctrl.attributes.label}}"></span>
    <span ng-if="$ctrl.attributes.title" class="small-screen-text" translate-multiple="{{$ctrl.attributes.title}}"></span>
  </a>
</li>