<ul class="{{::$ctrl.attributes.style}}" ng-class="{'menu-minimized': $ctrl.attributes.minimized, 'ng-hide': !$ctrl.attributes.visible}" ng-cloak>
  <awe-option ng-repeat="option in $ctrl.attributes.options| allowedOption track by option.name" controller="option" status="status" on-option-click="$ctrl.onClick()" menu-type="{{::$ctrl.menuType}}"
              close-first-level="$ctrl.closeFirstLevel()" first-level="true" selected-option="$ctrl.selectedOption" option-title="{{::option.title}}" option-name="{{::option.name}}"
              option-style="{{::option.style}}" option-icon="{{::option.icon}}" option-text="{{::option.label}}"></awe-option>
</ul>