<li class="{{::$ctrl.getStaticOptionClasses()}}" ng-class="$ctrl.getOptionClasses()" ng-cloak>
  <a ng-if="::!$ctrl.attributes.separator" title="{{::$ctrl.optionTitle| translateMultiple}}" name="{{::$ctrl.optionName}}" class="{{::$ctrl.optionStyle}}"
     ng-click="$ctrl.onClick()">
    <i ng-if="::$ctrl.optionIcon" class="menu-icon fa fa-{{::$ctrl.optionIcon}}"></i>
    <span ng-if="::$ctrl.optionText" class="mm-text" translate-multiple="{{::$ctrl.optionText}}"></span>
  </a>
  <ul ng-if="::$ctrl.hasVisibleChildren()" class="{{::$ctrl.getStaticSubmenuClasses()}}" ng-class="$ctrl.getSubmenuClasses()">
    <div ng-if="::$ctrl.optionText" class="mmc-title" translate-multiple="{{::optionText}}"></div>
    <awe-option ng-repeat="option in $ctrl.options| allowedOption track by option.name" controller="option" status="status" on-option-click="$ctrl.onClick()" menu-type="{{::$ctrl.menuType}}" close-first-level="$ctrl.closeFirstLevel()" first-level="false" selected-option="$ctrl.selectedOption" option-title="{{::option.title}}" option-name="{{::option.name}}" option-style="{{::option.style}}" option-icon="{{::option.icon}}" option-text="{{::option.label}}"></awe-option>
  </ul>
</li>
