<div ng-show="controller.visible" class="grid expandible-vertical table-light {{::component.gridStyle}}" ng-cloak>
  <awe-context-menu ng-cloak></awe-context-menu>
  <div ng-if="component.fixedHeaders" ng-attr-id="grid-header-{{::gridId}}" awe-grid-header="gridOptions" ng-cloak></div>
  <div ng-attr-id="scope-{{::gridId}}" class="expand expandible-vertical grid-container" ng-cloak>
    <div ng-if="::component.editable" class="save-button" ng-cloak>
      <button id="{{::gridId}}-grid-row-cancel" type="button" ng-class="::component.gridButtonClass" class="btn-awe btn-danger grid-row-cancel" title="{{'BUTTON_CANCEL'| translateMultiple}}" ng-click="onCancelRow()" ng-attr-tabindex="{{component.isEditing ? 0 : -1}}" ng-disabled="component.savingRow" ng-cloak>
        <i class="fa" ng-class="{'fa-refresh fa-spin': component.rowAction === 'cancel' && component.savingRow, 'fa-close': component.rowAction !== 'cancel'}"></i>
        <span class="button-text" translate-multiple="BUTTON_CANCEL"></span>
      </button>
      <button id="{{::gridId}}-grid-row-save" type="button" ng-class="::component.gridButtonClass" class="btn-awe btn-primary grid-row-save" title="{{'BUTTON_SAVE_ROW'| translateMultiple}}" ng-click="onSaveRow()" ng-attr-tabindex="{{component.isEditing ? 0 : -1}}" ng-disabled="component.savingRow" ng-cloak>
        <i class="fa" ng-class="{'fa-refresh fa-spin': component.rowAction === 'save' && component.savingRow, 'fa-save': component.rowAction !== 'save'}"></i>
        <span class="button-text" translate-multiple="BUTTON_SAVE_ROW"></span>
      </button>
    </div>
    <div ng-attr-id="grid-{{::gridId}}" ui-grid="gridOptions" ui-grid-selection ui-grid-resize-columns ui-grid-move-columns ui-grid-pinning ui-grid-tree-view class="ag-awe grid-node no-border-hr" ng-cloak></div>
  </div>
  <div class="table-footer">
    <div class="pagination-content grid-buttons fixed-height {{component.footerButtonStyle}}">
      <div ng-transclude></div>
    </div>
  </div>
  <awe-loader class="grid-loader" ng-if="controller.loading && !component.isLoadingBranch" icon-loader="{{::iconLoader}}" ng-cloak></awe-loader>
</div>