// ### Import bootstrap
@import "./libs/bootstrap-3.3.2/bootstrap.less";

// Override bootstrap variables
@font-family-sans-serif:  "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-base:        @font-family-sans-serif;
@font-size-base:          13px;

@border-radius-base:  2px;
@border-radius-large: 3px;
@border-radius-small: 2px;

@line-height-small: 1.25;

// ### Libraries
@import (less) "./libs/tocify/jquery.tocify.css";
@import "./libs/pivotTable/pivot.less";
@import "./libs/markdown/bootstrap-markdown.less";

// ### Modules stylesheets
@import (less) "~animate.css/animate.css";
@import (less) "~select2/dist/css/select2.css";
@import (less) "~select2-bootstrap-theme/dist/select2-bootstrap.css";
@import (less)  "~angular-loading-bar/build/loading-bar.css";
@import (less)  "~bootstrap-datepicker/dist/css/bootstrap-datepicker.css";
@import (less)  "~bootstrap-slider/dist/css/bootstrap-slider.css";
@import "./libs/slider/bootstrap-slider.less";
@import (less)  "~angular-ui-grid/ui-grid.css";
@import "./libs/color-picker/colorpicker.less";

// ### Pixel Admin"s stylesheets
@import "./libs/pixel-admin-less/pixel-admin.less";

// ### Font Awesome stylesheets
@import "~font-awesome/less/font-awesome.less";

// ### awe variables
@import "./awe/variables.less";
@import "./awe/mixins.less";

// ### awe custom stylesheets
@import "./awe/base.less";
@import "./awe/breadcrumbs.less";
@import "./awe/font.less";
@import "./awe/icon.less";
@import "./awe/offset.less";
@import "./awe/no-label.less";

// ### awe controllers
@import "./awe/controllers/controllers.less";

// ### awe directives
@import "./awe/directives/directives.less";

// ### awe components
@import "./awe/components/components.less";

// ### awe pages
@import "./awe/pages/pages.less";

// ### awe themes
@import "./awe/themes/themes.less";

// ### awe media styles
@import "./awe/print.less";
@import "./awe/mobile.less";
