<div ng-show="controller.visible" class="criterion {{criterionClass}}" ng-attr-criterion-id="{{::controller.id}}" ng-cloak>
  <awe-context-menu ng-cloak></awe-context-menu>
  <div ng-class="::groupClass" ng-cloak>
    <label ng-attr-for="{{::controller.id}}" ng-class="::labelClass" ng-style="::labelStyle" ng-cloak>
      {{controller.label| translateMultiple}}
      <i ng-if="::controller.help" class="help-target fa fa-fw fa-question-circle"></i>
    </label>
    <div class="validator input-group colorpicker-element {{::validatorGroup}} focus-target">
      <span ng-if="::controller.icon" ng-class="::iconClass" ng-cloak></span>
      <input type="text" class="form-control {{classes}}" ng-disabled="controller.readonly" ng-model="model.selected" ng-press-enter="submit($event)" autocomplete="off" ng-click="click($event)"
             ng-attr-id="{{::controller.id}}" ng-attr-name="{{::controller.id}}" placeholder="{{controller.placeholder| translateMultiple}}" ng-change="component.modelChange()"/>
      <awe-loader class="loader" ng-if="controller.loading" icon-loader="{{::iconLoader}}" ng-cloak></awe-loader>
      <span class="input-group-addon" colorpicker ng-model="model.selected" ng-change="component.modelChange()" ng-if="!controller.readonly"><i ng-class="{'transparent': !model.selected}" ng-style="{backgroundColor: model.selected}"></i></span>
      <span class="input-group-addon disabled" ng-if="controller.readonly"><i ng-class="{'transparent': !model.selected}" ng-style="{backgroundColor: model.selected}"></i></span>
    </div>
  </div>
</div>