<div ng-show="$ctrl.attributes.visible" class="criterion {{$ctrl.criterionClass}}" ng-attr-criterion-id="{{::$ctrl.id}}" ng-cloak>
  <awe-context-menu ng-cloak></awe-context-menu>
  <div ng-class="::$ctrl.groupClass" ng-cloak>
    <label ng-attr-for="{{::$ctrl.id}}" ng-class="::$ctrl.labelClass" ng-style="::$ctrl.labelStyle" ng-cloak>
      {{controller.label| translateMultiple}}
      <i ng-if="::$ctrl.attributes.help" class="help-target fa fa-fw fa-question-circle"></i>
    </label>
    <div class="validator input {{::$ctrl.validatorGroup}} focus-target" ng-class="{'input-group': $ctrl.attributes.unit}">
      <span ng-if="::$ctrl.attributes.icon" ng-class="::$ctrl.iconClass" ng-cloak></span>
      <input type="hidden" ui-select="$ctrl.selectOptions" class="form-control {{$ctrl.inputClass}}" initialized="$ctrl.initialized" autocomplete="off"
             ng-click="$ctrl.onClick($event)" ng-attr-id="{{::$ctrl.id}}" ng-attr-name="{{::$ctrl.id}}" ng-disabled="$ctrl.attributes.readonly"/>
      <awe-loader class="loader" ng-if="$ctrl.attributes.loading" icon-loader="{{::$ctrl.iconLoader}}" ng-cloak></awe-loader>
      <span ng-if="$ctrl.attributes.unit" class="input-group-addon add-on unit" translate-multiple="{{$ctrl.attributes.unit}}" ng-cloak></span>
    </div>
  </div>
</div>