<div ng-show="controller.visible" class="criterion uploader" ng-class="criterionClass" ng-attr-criterion-id="{{::controller.id}}" ng-cloak>
  <awe-context-menu ng-cloak></awe-context-menu>
  <div ng-class="::groupClass" ng-cloak>
    <label ng-attr-for="::controller.id" ng-class="::labelClass" ng-style="::labelStyle" ng-cloak>
      {{controller.label| translateMultiple}}
      <i ng-if="::controller.help" class="help-target fa fa-fw fa-question-circle"></i>
    </label>
    <div class="validator input {{::validatorGroup}} focus-target">
      <div ng-show="component.uploading" class="uploading-{{::size}}">
        <div class="progress progress-striped active" ng-if="component.uploading">
          <div class="progress-bar" ng-style="{width: component.uploadProgress}"></div>
        </div>
      </div>
      <div ng-show="model.selected === null && !component.uploading" class="pixel-file-input {{classes}}"
           ng-disabled="controller.readonly" ngf-select ngf-change="chooseFile($files)" ngf-validate-fn="validate($file)">
        <span ng-if="::controller.icon" ng-class="::iconClass" ng-cloak></span>
        <span class="pfi-filename pfi-placeholder">{{controller.placeholder| translateMultiple}}</span>
        <div class="pfi-actions" ng-if="!controller.readonly">
          <button type="button" class="btn btn-xs btn-primary pfi-choose" translate-multiple="BUTTON_CHOOSE" ng-focus="focus()" ng-blur="blur()"></button>
        </div>
      </div>
      <div ng-show="model.selected !== null && !component.uploading" class="pixel-file-input {{classes}}" ng-disabled="controller.readonly" >
        <span ng-if="::controller.icon" ng-class="::iconClass" ng-cloak></span>
        <span class="pfi-filename" ng-click="downloadFile($event)">{{component.visibleValue}}</span>
        <div class="pfi-actions" ng-if="!controller.readonly">
          <button type="button" ng-click="clearFile($event)" class="btn btn-xs" ng-disabled="component.deleting" ng-focus="focus()" ng-blur="blur()"><i class="fa {{component.deleting ? 'fa-refresh fa-spin' : 'fa-times'}}"></i> <span translate-multiple="BUTTON_CLEAR"></span></button>
        </div>
      </div>
    </div>
  </div>
</div>