<div ng-show="component.controller.visible" class="validator column-input criterion text-{{::component.controller.align}} no-animate" ng-cloak>
  <span class="visible-value" ng-cloak><i class="fa fa-eyedropper" ng-if="component.visibleValue" ng-style="{color: component.visibleValue}"></i>
    <span class="text-semibold text-xs text-uppercase">{{component.visibleValue}}</span>
  </span>
  <span class="edition">
    <div ng-class="::groupClass" ng-cloak>
      <div class="validator input-group colorpicker-element input-group-{{::size}} focus-target">
        <input type="text" class="form-control {{classes}} {{component.model.values[0].style}}" ng-disabled="component.controller.readonly" ng-model="component.model.selected" ng-focus="focus()" ng-press-enter="saveRow($event)"
               ng-blur="blur()" ng-click="click($event)" placeholder="{{::component.controller.placeholder| translateMultiple}}" ng-change="component.modelChange()"/>
        <span ng-if="!component.controller.readonly" class="input-group-addon" colorpicker ng-model="component.model.selected" ng-change="component.columnModelChange()" ><i ng-class="{'transparent': !component.model.selected}" ng-style="{backgroundColor: component.model.selected}"></i></span>
        <span ng-if="component.controller.readonly" class="input-group-addon disabled"><i ng-class="{'transparent': !component.model.selected}" ng-style="{backgroundColor: component.model.selected}"></i></span>
      </div>
      <span ng-if="::component.controller.icon" ng-class="::iconClass" ng-cloak></span>
    </div>
  </span>
  <awe-loader class="loader no-animate" ng-if="component.controller.loading" icon-loader="{{::iconLoader}}" ng-cloak></awe-loader>
</div>