<div ng-show="component.controller.visible" class="validator column-input criterion text-{{::component.controller.align}} no-animate" ng-cloak>
  <span class="visible-value" ng-cloak>{{component.visibleValue}}</span>
  <span class="edition">
    <div class="input-group input-append date input-group-{{::size}} focus-target" ui-date="aweDateOptions" initialized="initialized">
      <input type="text" class="form-control col-xs-12 {{classes}} {{component.model.values[0].style}}" placeholder="{{::component.controller.placeholder| translateMultiple}}"
             ng-disabled="component.controller.readonly" ng-model="component.model.selected" ng-focus="focus()" ng-blur="blur()"
             ng-model-options="{updateOn: 'change'}" ng-click="click($event)" ng-change="component.columnModelChange()"
             ng-press-enter="saveRow($event)" autocomplete="off"/>
      <span class="input-group-addon add-on">
        <i class="fa fa-calendar"></i>
      </span>
    </div>
    <span ng-if="::component.controller.icon" ng-class="::iconClass" ng-cloak></span>
  </span>
  <awe-loader class="loader no-animate" ng-if="component.controller.loading" icon-loader="{{::iconLoader}}" ng-cloak></awe-loader>
</div>