<div ng-show="component.controller.visible" class="column text-{{::component.controller.align}} no-animate" ng-click="click($event)" ng-cloak>
  <button type="button" id="{{component.id}}" title="{{component.model.values[0].title| translateMultiple}}"
          class="{{classes}} {{component.model.values[0].style}}" ng-disabled="isDisabled()" ng-click="onClick($event)" ng-mousedown="onMouseDown()" ng-cloak>
    <i ng-if="component.icon" class="fa {{component.icon}}"></i>
    <span ng-if="component.model.values[0].label" class="button-text" translate-multiple="{{component.model.values[0].label}}"></span>
  </button>
</div>