//
// RTL
// --------------------------------------------------
.right-to-left {
  // Base styles
  //

  direction: rtl !important;

  .pull-right {
    float: left !important;
  }

  .pull-left {
    float: right !important;
  }

  // Imports
  //

  @import './grid.less';
  @import './breadcrumb.less';
  @import './main-navbar.less';
  @import './main-menu.less';
  @import './progress-bars.less';
  @import './navbar.less';
  @import './dropdowns.less';
  @import './labels.less';
  @import './navs.less';
  @import './alerts.less';
  @import './tables.less';
  @import './accordion.less';
  @import './popovers.less';
  @import './list-groups.less';
  @import './forms.less';
  @import './pagination.less';
  @import './button-groups.less';
  @import './input-groups.less';
  @import './panels.less';
  @import './modals.less';
  @import './notes.less';
  @import './buttons.less';
  @import './stats.less';
  @import './counters.less';
  @import './utils.less';


  // Widgets
  //

  @import './rtl/widgets/threads.less';
  @import './rtl/widgets/tasks.less';
  @import './rtl/widgets/support-tickets.less';
  @import './rtl/widgets/profile.less';
  @import './rtl/widgets/notifications.less';
  @import './rtl/widgets/messages.less';
  @import './rtl/widgets/messages-alt.less';
  @import './rtl/widgets/comments.less';
  @import './rtl/widgets/chat.less';
  @import './rtl/widgets/article-comments.less';
  @import './rtl/widgets/followers.less';


  // Pages
  //

  @import './rtl/pages/invoice.less';
  @import './rtl/pages/error-pages.less';
  @import './rtl/pages/pricing.less';
  @import './rtl/pages/search.less';
  @import './rtl/pages/signin.less';
  @import './rtl/pages/signup.less';
  @import './rtl/pages/timeline.less';
  @import './rtl/pages/mail.less';
  @import './rtl/pages/profile.less';
  @import './rtl/pages/signin-alt.less';
  @import './rtl/pages/signup-alt.less';


  // jQuery UI
  //

  @import './rtl/plugins/jquery-ui/accordions.less';
  @import './rtl/plugins/jquery-ui/menus.less';
  @import './rtl/plugins/jquery-ui/spinners.less';
  @import './rtl/plugins/jquery-ui/datepicker.less';


  // Plugins
  //

  @import './rtl/plugins/pa.switcher.less';
  @import './rtl/plugins/pa.wizard.less';
  @import './rtl/plugins/pa.file-input.less';
  @import './rtl/plugins/jquery.select2.less';
  @import './rtl/plugins/bootstrap-datepicker.less';
  @import './rtl/plugins/bootstrap-datepaginator.less';
  @import './rtl/plugins/bootstrap-tabdrop.less';
  @import './rtl/plugins/jquery.minicolors.less';
  // {
    @import './rtl/plugins/bootstrap-editable/bootstrap-editable.less';
    @import './rtl/plugins/bootstrap-editable/address.less';
  // }
  @import './rtl/plugins/jquery.datatables.less';
  @import './rtl/plugins/dropzone.less';
  @import './rtl/plugins/summernote.less';
  @import './rtl/plugins/jquery.growl.less';
  @import './rtl/plugins/jquery.flot.less';
}