/*******************************************************************************
 BUTTON DIRECTIVE
*******************************************************************************/

[button-id] .btn-group > .btn-awe {
  margin-left: 6px;
}

[button-id] .btn-group > .criterion.btn-awe {
  margin-left: 0;
}

.btn-group [button-id] .btn-group > .btn-awe {
  margin-left: 0;
}

.btn-group [button-id]:not(:first-child) {
  &:not(:last-child) .btn-awe {
    border-radius: 0;
  }
  .btn-awe {
    margin-left: -1px;
  }
}

// Button Sizes (inside column)
// --------------------------------------------------

.column .btn-lg {
  // line-height: ensure even-numbered height of button next to large input
  .button-size(@padding-large-vertical - 2px; @padding-large-horizontal; @font-size-large; @line-height-large - 2px; @border-radius-large);
}
.column .btn-md {
  // line-height: ensure proper height of button next to base input
  .button-size(@padding-base-vertical - 2px; @padding-base-horizontal; @font-size-base; @line-height-base - 2px; @border-radius-base);
}
.column .btn-sm {
  // line-height: ensure proper height of button next to small input
  .button-size(@padding-small-vertical - 2px; @padding-small-horizontal; @font-size-small; @line-height-small - 2px; @border-radius-small);
}
.column .btn-xs {
  .button-size(@padding-xs-vertical - 2px; @padding-xs-horizontal; @font-size-small; @line-height-small - 2px; @border-radius-small);
}

@media (max-width: @screen-small) {
  .btn .button-text {
    display: none;
  }
}