/*******************************************************************************
 CRITERIA DIRECTIVES
*******************************************************************************/

.criterion {
  position: relative;

  .control-label:after {
    content: "\00a0";
  }

  .input-group {
    width: 100%;
  }
  @media (max-width: @screen-xs-max) {
    .input-group {
      display: table;
    }
  }

  /* Labels */
  @media (min-width: @screen-sm-min) {
    .label-left {
      text-align: right;
      padding: 0px 10px;
      display: table-cell;
      vertical-align: top;
      table-layout: fixed;
      &.control-label:after {
        content: "";
      }
    }
    .label-sm.label-left {
      line-height: @input-height-small;
      margin-bottom: 0px;
    }
    .label-md.label-left {
      line-height: @input-height-base;
      margin-bottom: 0px;
    }
    .label-lg.label-left {
      line-height: @input-height-large;
      margin-bottom: 0px;
    }
    .input-group-addon {
      display: table-cell;
      width: 1px;
    }
    .form-group, .form-control {
      display: table;
      width: 100%;
    }
    textarea.form-control {
      display: block;
      height: auto;
    }
  }

  .label-sm {
    font-size: @font-size-small;
    margin-bottom: 2px;
  }
  .label-lg {
    font-size: @font-size-large;
  }

  /* Inputs */
  .input-sm {
    &[type="checkbox"].px+.lbl {
      line-height: @input-height-small - 6px;
      &:after { top: 2px; }
      &:before { top: 1px; }
    }
    &[type="radio"].px+.lbl {
      line-height: @input-height-small - 6px;
      &:after { top: 6px; }
      &:before { top: 1px; }
    }
  }

  .input-md {
    &[type="checkbox"].px+.lbl {
      line-height: @input-height-base - 6px;
      &:after { top: 6px; }
      &:before { top: 5px; }
    }
    &[type="radio"].px+.lbl {
      line-height: @input-height-base - 6px;
      &:after { top: 10px; }
      &:before { top: 5px; }
    }
  }

  .input-lg {
    &[type="checkbox"].px+.lbl {
      line-height: @input-height-large - 6px;
      &:after { top: 13px; }
      &:before { top: 12px; }
    }
    &[type="radio"].px+.lbl {
      line-height:  @input-height-large - 6px;
      &:after { top: 17px; }
      &:before { top: 12px; }
    }
  }

  .input-group-sm>.input-group-addon {
    padding: 4px 10px 2px 10px;
    line-height: normal;
    width: 1px;
  }

  .input {
    position: relative;
  }

  /* Markdown editor  */
  .md-editor>textarea {
    padding: 6px 14px;
  }
  .md-fullscreen-mode>textarea {
      height: 100%;
  }
}

/* Criteria icons without label */
.form-group.w-icon .form-icon {
  &.criterion-icon-sm {
    height: @input-height-small - 6px;
    line-height: @input-height-small - 6px !important;
  }
  &.criterion-icon-lg {
    top: 7px;
    height: @input-height-large - 13px;
    line-height: @input-height-large - 13px;
  }
}

/* Criteria icons with label */
.form-group.w-icon .form-icon.w-label {
  &.criterion-icon-sm {
    height: @input-height-small - 6px;
    line-height: @input-height-small - 6px !important;
    /*top: @input-height-small - 3px;*/
  }
  &.criterion-icon-lg {
    /*top: @input-height-large - 9px;*/
    height: @input-height-large - 13px;
    line-height: @input-height-large - 13px;
  }
}

/* Form groups */
.form-group.group-sm {
  margin-bottom: 10px;
}

// fix .input-group width issue
/*.select2-container-default .select2-search-inline .select2-search-field {
    width: auto !important;
}*/