/*
    Created on : 26-ene-2015, 14:23:20
    Author     : pvidal
*/
pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  background-color: #FFFFFF !important;
  border: 0px !important;
}