//
// Menu commons
// --------------------------------------------------

.menu-shadow {
  -webkit-box-shadow: 0 2px 2px rgba(0,0,0,.05),0 1px 0 rgba(0,0,0,.05);
  -moz-box-shadow: 0 2px 2px rgba(0,0,0,.05),0 1px 0 rgba(0,0,0,.05);
  -o-box-shadow: 0 2px 2px rgba(0,0,0,.05),0 1px 0 rgba(0,0,0,.05);
  box-shadow: 0 2px 2px rgba(0,0,0,.05),0 1px 0 rgba(0,0,0,.05);
}

.menu-shadow {
  ul.navigation a{
    white-space: nowrap;
    cursor: pointer;
  }

  &,
  awe-menu {
    overflow: visible !important;
    .no-transition;
  }
}

.size-sm {
  .menu-shadow {
    ul.navigation a {
      font-size: @font-size-small;
    }
  }
}

.size-lg {
  .menu-shadow {
    ul.navigation a {
      font-size: @font-size-large;
    }
  }
}


//
// Import specific menu settings
// --------------------------------------------------

@import "./menu-vertical.less";
@import "./menu-horizontal.less";
