//
// Themes / White / Main navbar
// --------------------------------------------------


#main-navbar {
  // Header
  //

  .navbar-header a {
    color: @navbar-text-color;
  }


  // Collapse
  //

  .navbar-header,
  .navbar-collapse {
    background: @navbar-color;
    .box-shadow(none);
  }

  .navbar-collapse {
    border-top: 1px solid darken(@navbar-color, 5%);
  }

  .dropdown > a,
  .dropdown-menu > li > a,
  .navbar-nav.nav li > a {
    color: @navbar-text-color;
  }


  // Navbar buttons
  //

  .navbar-toggle {
    color: @navbar-text-color;
  }

  #main-menu-toggle {
    background: @navbar-color;
    color: @navbar-text-color;

    .fa:before {
      color: @navbar-text-color;
    }
  }

  // Navbar Items
  //

  .navbar-nav li + .navbar-nav li,
  .navbar-nav.nav + .navbar-nav.nav,
  .navbar-nav.nav + .navbar-nav .right {
    border-top: 1px solid darken(@navbar-color, 5%);
  }

  .dropdown.open > a {
    border-top: 1px solid darken(@navbar-color, 12%);
    border-bottom: 1px solid darken(@navbar-color, 8%);
    margin-top: -1px;
    background: darken(@navbar-color, 5%);
  }


  // Navbar forms
  //

  form.navbar-form {
    .box-shadow(none);

    .form-control {
      background: #fff;
      border-color: @navbar-color;
      border-radius: 999999px;
    }
  }
}


// Desktops
//

@media (min-width: @screen-tablet) {
  #main-navbar {

    // Navbar Items
    //

    .navbar-nav li + .navbar-nav li,
    .navbar-nav.nav + .navbar-nav.nav,
    .navbar-nav.nav + .navbar-nav .right {
      border-top: none;
    }


    // Collapse
    //

    .navbar-collapse {
      border-top: none;
    }


    // Dropdowns
    //

    .navbar-nav.nav li > a {
      &:hover {
        background: darken(@navbar-color, 3%);
      }
    }

    .dropdown.open > a {
      border-top: none;
      border-bottom: none;
      margin-top: 0;
      background: darken(@navbar-color, 3%);
    }

    .dropdown-menu {
      border-radius: @border-radius-base;
      margin-top: 3px;
      padding: 5px 0;

      > li > a {
        color: @text-color;

        &:hover {
          background: #f6f6f6;
        }
      }
    }
  }
}

